<template>
  <v-toolbar color="pink">
    <v-menu
      transition="slide-y-transition"
      bottom
    >
      <v-btn flat icon slot="activator" color="white">
        <v-icon>menu</v-icon>
      </v-btn>
      <v-list>
        <v-list-tile>
          <router-link :to="{name: 'playlist'}" class="menu-link">
            <v-list-tile-title>Playlist</v-list-tile-title>
          </router-link>
        </v-list-tile>
      </v-list>
    </v-menu>
    <v-toolbar-title class="white--text">{{title}}</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn fab dark small color="cyan" @click="addAction">
      <v-icon>add</v-icon>
    </v-btn>
  </v-toolbar>
</template>

<script>
  export default {
    props: {
      title: {
        type: String,
        default: 'My Music'
      }
    },
    methods: {
      addAction () {
        this.$emit('addAction');
      }
    }
  };
</script>
<style>
  .menu-link{
    text-decoration: none;
  }
</style>
