<template>
  <v-flex xs12 md4 lg3>
    <v-card color="cyan darken-2" class="white--text">
      <v-container fluid grid-list-lg>
        <v-layout row>
          <v-flex xs7>
            <div>
              <div class="headline" v-if="isExist">{{listItem.name}}</div>
              <v-text-field
                class="light"
                name="name"
                label="Name"
                v-model="listItem.name"
                v-if="!isExist"
                required
                :rules="nameError"
                :error="$v.listItem.name.$error"
                @blur="$v.listItem.name.$touch()"
              ></v-text-field>
            </div>
          </v-flex>
          <v-flex xs5>
            <router-link :to="link">
              <v-card-media
                :src="listItem.image"
                height="125px"
                contain
              ></v-card-media>
            </router-link>
          </v-flex>
        </v-layout>
      </v-container>
      <v-card-actions class="white">
        <v-btn flat v-if="isExist" color="pink" @click="edit(listItem.id)">
          Edit
        </v-btn>
        <v-btn flat v-if="isNew" color="pink" @click="save(listItem)">Save</v-btn>
        <v-btn flat v-if="isEdit" color="pink" @click="update(listItem)">Update</v-btn>
        <v-btn flat v-if="isNew || isEdit" color="pink" @click="cancel">Cancel</v-btn>
      </v-card-actions>
    </v-card>
  </v-flex>
</template>

<script>
  import {LIST_ITEM_STATES} from '../constants/index';
  import { required, minLength } from 'vuelidate/lib/validators';
  import { mapActions } from 'vuex';
  export default {
    validations: {
      listItem: {
        name: {
          required,
          minLength: minLength(3)
        }
      }
    },
    props: ['listItem'],
    computed: {
      isNew () {
        return this.listItem.state === LIST_ITEM_STATES.NEW;
      },
      isEdit () {
        return this.listItem.state === LIST_ITEM_STATES.EDIT;
      },
      isExist () {
        return this.listItem.state === LIST_ITEM_STATES.EXIST;
      },
      nameError () {
        return this.$v.listItem.name.$error
          ? [() => 'This value is too small. It should have 3 characters or more.'] : [];
      },
      link () {
        return {name: 'tracks', params: {id: this.listItem.id}};
      }
    },
    methods: {
      ...mapActions({
        cancel: 'getAllPlaylist',
        edit: 'editItemInList'
      }),
      save () {
        if (this.$v.$error) return;
        this.$store.dispatch('saveItemInPlayList', this.listItem);
      },
      update () {
        if (this.$v.$error) return;
        this.$store.dispatch('updateItemInPlayList', this.listItem);
      }
    }
  };
</script>
