<template>
  <div>
    <app-header @addAction="addNewItemToPlaylist"></app-header>
    <v-container
      fluid
      style="min-height: 0;"
      grid-list-lg
    >
      <v-layout row wrap>
        <app-list-item v-for="test in playlist" :key="test.id" :listItem="test"></app-list-item>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
  import {mapGetters, mapActions} from 'vuex';
  import PlayListItem from './PlayListItem.vue';
  import Header from './Header.vue';
  export default {
    computed: {...mapGetters({
      playlist: 'allPlaylist'
    })
    },
    created () {
      this.$store.dispatch('getAllPlaylist');
    },
    components: {
      'app-list-item': PlayListItem,
      'app-header': Header
    },
    methods: {
      ...mapActions([
        'addNewItemToPlaylist'
      ])
    }
  };
</script>
