<template>
  <div>
    <app-header :title="title" @addAction="goToAddNew"></app-header>
    <br>
    <v-list subheader>
      <app-track-list-item v-for="track in trackList" :item="track" :key="track.id" @itemDeleted="deleteItem"></app-track-list-item>
    </v-list>
  </div>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex';
  import Header from './Header.vue';
  import TrackListItem from './TrackListItem.vue';
  export default {
    computed: {
      ...mapGetters({
        trackList: 'allTrackList',
        playListItem: 'playListItem'
      }),
      title () {
        return this.playListItem ? `Playlist '${this.playListItem.name}' tracks` : '';
      }
    },
    created () {
      let params = this.$route.params;
      if (params.hasOwnProperty('id') && params.id) {
        this.$store.dispatch('getAllTrackList', params.id);
      }
    },
    methods: {
      ...mapActions({
        addToList: 'deleteTrack'
      }),
      goToAddNew () {
        this.$router.push({name: 'addTracks', params: {id: this.playListItem.id}});
      },
      deleteItem (item) {
        let currentParams = this.$route.params;
        if (currentParams.hasOwnProperty('id') && currentParams.id) {
          this.$store.dispatch('deleteTrackFromList', {trackUri: item.uri, playlistId: currentParams.id});
        }
      }
    },
    components: {
      'app-header': Header,
      'app-track-list-item': TrackListItem
    }
  };
</script>
