<template>
  <div>
    <app-header title="Add tracks"></app-header>
    <br>
  <v-list>
    <v-list-tile avatar @click="" v-for="item in trackList" :key="item.id">
      <v-list-tile-avatar>
        <img :src="getAvatar(item)"/>
      </v-list-tile-avatar>
      <v-list-tile-content>
        <v-list-tile-title v-html="item.name"></v-list-tile-title>
      </v-list-tile-content>
      <v-list-tile-action>
        <v-btn fab dark small color="green" @click="addTrackToList(item)">
          <v-icon>add</v-icon>
        </v-btn>
      </v-list-tile-action>
    </v-list-tile>
  </v-list>
  </div>
</template>
<script>
  import {mapGetters, mapActions} from 'vuex';
  import Header from './Header.vue';
  export default {
    computed: {
      ...mapGetters({
        trackList: 'allExternalTrackList'
      })
    },
    methods: {
      ...mapActions({
        addToList: 'addTrackToList'
      }),
      addTrackToList (item) {
        let currentParams = this.$route.params;
        if (currentParams.hasOwnProperty('id') && currentParams.id) {
          this.$store.dispatch('addTrackToList', {trackUri: item.uri, playlistId: currentParams.id});
        }
      },
      getAvatar (item) {
        return item && item.album.images[1].url;
      }
    },
    created () {
      this.$store.dispatch('getAllExternalTrackList');
    },
    components: {
      appHeader: Header
    }
  };
</script>
