<template>

  <v-list-tile avatar @click="">
    <v-list-tile-avatar>
      <img :src="avatar"/>
    </v-list-tile-avatar>
    <v-list-tile-content>
      <v-list-tile-title v-html="item.name"></v-list-tile-title>
    </v-list-tile-content>
    <v-list-tile-action>
      <v-btn fab dark small color="pink" @click="deleteItem">
        <v-icon>delete</v-icon>
      </v-btn>
    </v-list-tile-action>
  </v-list-tile>

</template>
<script>
  export default {
    props: {
      item: {
        required: true
      }
    },
    computed: {
      avatar () {
        return this.item && this.item.album.images[1].url;
      }
    },
    methods: {
      deleteItem () {
        this.$emit('itemDeleted', this.item);
      }
    }
  };
</script>
