<template>
  <v-container fluid class="text-xs-center">
    <v-layout row wrap>
      <v-flex xs12>
        <v-toolbar-title>Welcome to 'My tracks'</v-toolbar-title>
        <v-btn color="primary" @click="loginUser()">Login</v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
  import {mapActions} from 'vuex';

  export default {
    methods: {
      ...mapActions([
        'loginUser'
      ])
    }
  };
</script>
