<template>
  <div id="app">
    <v-app id="inspire">
      <v-content>
        <router-view/>
        <!-- -->
      </v-content>
    </v-app>
  </div>
</template>

<script>
export default {
  name: 'app'
};
</script>
